@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mikhail Zhuravok<br />
    Kharkiv, 61170<br />
    <abbr title="Phone">P:</abbr>
    099.923.6743
</address>

<address>
    <strong>The one and only:</strong>   <a href="mailto:Zhuravok96@gmail.com">Mikhail Zhuravok</a><br />
</address>