@if (Request.Cookies["Token"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text navbar-right">@String.Format("Hello, " + Request.Cookies["userEmail"].Value + "!")</p>
        </li>
        <li>
            <button type="button" class="btn btn-default navbar-btn" id="logOut">Log Out</button>
        </li>
    </ul>
    <script type="text/javascript">
        logOut.onclick = function (e) {
            e.preventDefault();
            var date = new Date(new Date().getTime() - 1);
            document.cookie = "token= null" + "; path=/; expires=" + date.toUTCString();
            date = new Date(new Date().getTime() - 1);
            document.cookie = "userEmail= null" + "; path=/; expires=" + date.toUTCString();

            location.reload();
        };
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}  
