@using Microsoft.AspNet.Identity
@if (Request.Cookies["Token"] != null)
{
   
    <ul class="nav navbar-nav navbar-right">
        <li>
            "Здравствуйте, " + Request.Cookies["userEmail"] + "!"
        </li>
        <li><a id="logOut">Выйти</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@section scripts{
    <script type="text/javascript">
    
        $('#logOut').click(function (e) {
            e.preventDefault();
            var date = new Date(new Date().getTime() -1);
            document.cookie = "token= null" + "; path=/; expires=" + date.toUTCString();
            var date = new Date(new Date().getTime() -1);
            document.cookie = "userEmail= null" + data.userName + "; path=/; expires=" + date.toUTCString();
        });
    })
    </script>
}
